name: CI

on:
  pull_request:
  push:
    branches: ['master']
    tags: ['v[0-9]']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
      - uses: coursier/cache-action@v6
      - run: sbt test scripted mimaReportBinaryIssues
