name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags: ['v[0-9]']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'sbt'
      - run: sbt +test scripted mimaReportBinaryIssues
